<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.android.simplemediacontroller" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".player.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".player.player.PlayerService"/>

        <receiver android:name=".player.notification.NotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="br.android.simplemediacontroller.NEXT" />
                <action android:name="br.android.simplemediacontroller.PREVIOUS" />
                <action android:name="br.android.simplemediacontroller.STOP" />
                <action android:name="br.android.simplemediacontroller.TOGGLE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
